.header {
    background-color: #fff;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px 20px;
    border-bottom: 1px solid #F4F4F4;
}

@font-face {
    font-family: 'jsMath-cmti10';
    src: url('/fonts/jsMath-cmti10.woff') format('woff');
    font-display: swap;
}

.header__logo{
    text-decoration: none;
    color: #F5C800;
    font-family: jsMath-cmti10;
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
}

main{
    background-color: #F8F8F8;
}

.error-message{
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 14px;
    color: #FD0707;
}