.product {
    width: 800px;
    margin: auto;
    padding: 80px 0;
}

.product-info{
    height: 353px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-breadcrumb__label{
    margin: 0;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}

.product-breadcrumb__label a{
    text-decoration: none;
    color: #0085FF;
}

.product-info--left{
    width: 374px;
    height: 322px;
}

.product-info--right{
    width: 396px;
}

.product__img img{
    max-width: 374px;
    max-height: 281px;
    padding-bottom: 10px;
}

.product__file {
    display: flex;
    height: 31px;
    gap: 10px;
    align-items: center;
}

.hidden {
    display: none;
}

.img-input{
    padding: 5px 10px;
    border: 1px solid #4B4B4B;
    background: #E0DFDE;
    color: #4B4B4B;
    cursor: pointer;
    box-sizing: border-box;
    flex-shrink: 0;
}

.product__file__label{
    color: #888888;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 14px;
}

.product-info__label{
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 16px;
    color: #4B4B4B;
}

.product-info__input{
    width: 100%;
    height: 43px;
    padding: 11px 10px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #E0DFDE;
    background: #FFFFFF;
    color: #4B4B4B;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}

.product-info__set label:not(:nth-of-type(4)) {
    padding-right: 35px;
}

.product-info__set label{
    color: #4B4B4B;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 16px;
    padding: 5px;
}

.product-info__set{
    width: 314px;
    display: flex;
    align-items: center;
}

.product-info__set__checkbox {
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #4B4B4B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4B4B4B;
}

.product-info__set__checkbox:checked {
    background-color: #4B4B4B;
    background-image: url('../images/レイヤー 2.png');
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.product-desc textarea{
    width: 100%;
    height: 160px;
    gap: 10px;
    padding-top: 11px 10px;
    border-radius: 5px;
    color: #4B4B4B;
    font-family: "Hiragino Kaku Gothic Pro";
    border: 1px solid #E0DFDE;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}

.product-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-btn a{
    width: 200px;
    height: 50px;
    padding: 13px 10px;
    border-radius: 5px;
    border: none;
    background: #E0DFDE;
    box-shadow: 0px 4px 10px 0px #0000001A;
    text-decoration: none;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.product-btn__patch {
    width: 200px;
    height: 50px;
    padding: 13px 10px;
    border-radius: 5px;
    border: none;
    background: #F5C800;
    box-shadow: 0px 4px 10px 0px #0000001A;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.product-btn__trashcan {
    width: 50px;
    height: 50px;
    background: url('../images/react-icons/ti/Vector.png') no-repeat center;
    background-size: 32px;
    border: none;
    cursor: pointer;
}

.trash-form{
    position: absolute;
    right: 0;
}

::placeholder {
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 300;
    font-size: 14px;
    color: #E0DFDE;
}
